header.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 100px 80px rgba(182, 187, 245, 0.07), 0px 41.7776px 33.4221px rgba(182, 187, 245, 0.0503198), 0px 22.3363px 17.869px rgba(182, 187, 245, 0.0417275), 0px 12.5216px 10.0172px rgba(182, 187, 245, 0.035), 0px 6.6501px 5.32008px rgba(182, 187, 245, 0.0282725), 0px 2.76726px 2.21381px rgba(182, 187, 245, 0.0196802);
          box-shadow: 0px 100px 80px rgba(182, 187, 245, 0.07), 0px 41.7776px 33.4221px rgba(182, 187, 245, 0.0503198), 0px 22.3363px 17.869px rgba(182, 187, 245, 0.0417275), 0px 12.5216px 10.0172px rgba(182, 187, 245, 0.035), 0px 6.6501px 5.32008px rgba(182, 187, 245, 0.0282725), 0px 2.76726px 2.21381px rgba(182, 187, 245, 0.0196802);
  margin-right: auto;
  margin-left: auto;
  height: 60px;
  width: auto;
  z-index: 100;
}

header.header > div.logo-header-wrapper {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

header.header > div.logo-header-wrapper > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}

header.header > div.logo-header-wrapper > a > button.logo-icon-wrapper {
  cursor: pointer;
  background: #E2E2EA;
  border: none;
  outline: none;
  border-radius: 8px;
  width: 35px;
  height: 35px;
}

header.header > div.logo-header-wrapper > a > button.logo-icon-wrapper:focus {
  outline: none;
}

header.header > div.logo-header-wrapper > a > button.logo-icon-wrapper > img {
  text-align: center;
  position: relative;
  top: 2px;
}

header.header > div.logo-header-wrapper > a > p.logo-header-title {
  font-weight: 600;
  color: black;
}

header.header > div.header-options-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  margin-left: auto;
  padding-right: 20px;
}

header.header > div.header-options-wrapper > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

header.header > div.header-options-wrapper > a > button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

header.header > div.header-options-wrapper > a > button:focus {
  outline: none;
}

header.header > div.header-options-wrapper > a > button.btn-avatar-icon {
  border-radius: 100px;
  margin-left: 10px;
}

header.header > div.header-options-wrapper > a > button.btn-avatar-icon > img {
  width: 40px;
}

header.header > div.header-options-wrapper > a > button.btn-bell-icon {
  border-radius: 100px;
}

header.header > div.header-options-wrapper > a > button.btn-bell-icon img {
  width: 25px;
}

header.header > div.header-options-wrapper > a > button.btn-option-icon {
  margin-left: -10px;
  margin-right: 20px;
}

header.header > div.header-options-wrapper > a > button.btn-option-icon > img {
  width: 40px;
}
/*# sourceMappingURL=style.header.css.map */