body{
    background-color: white;
    background: fixed;
    background-size: cover;
    font-family: 'Inter',sans-serif;
}

.center_view{
    margin-right: auto;
    margin-left: auto;
    max-width: 1536px;
}

.portrait_view{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.landscape_view{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

::-webkit-scrollbar{
    display: none;
}