div.sidebar-section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #F2F3F7;
  width: 30%;
  position: absolute;
  right: 0;
  height: 100vh;
}

div.sidebar-section-wrapper > div.special-offers-section-wrapper {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

div.sidebar-section-wrapper > div.special-offers-section-wrapper > div.special-offers-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15em;
}

div.sidebar-section-wrapper > div.special-offers-section-wrapper > div.special-offers-content-wrapper > p.special-offers-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #2E2E3A;
}

div.sidebar-section-wrapper > div.special-offers-section-wrapper > div.special-offers-content-wrapper > p.speical-offers-see-all {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.009em;
  color: #A9A9B7;
  position: relative;
  top: 5px;
}

div.sidebar-section-wrapper > div.special-offers-section-wrapper > div.special-offers-card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

div.sidebar-section-wrapper > div.last-transaction-section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 18px;
  margin-top: 15px;
}

div.sidebar-section-wrapper > div.last-transaction-section-wrapper > div.last-transaction-description-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.sidebar-section-wrapper > div.last-transaction-section-wrapper > div.last-transaction-description-wrapper > p.last-transaction-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #2E2E3A;
}

div.sidebar-section-wrapper > div.last-transaction-section-wrapper > div.last-transaction-card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=style.views.sidebar.css.map */