div.sidebar-section-wrapper{
    display: flex;
    flex-direction: column;
    background: #F2F3F7;
    width: 30%;
    position: absolute;
    right: 0;
    height: 100vh;
    >div.special-offers-section-wrapper{
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        >div.special-offers-content-wrapper{
            display: flex;
            flex-direction: row;
            gap: 15em;
            
            >p.special-offers-title{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                color: #2E2E3A;
            }
            >p.speical-offers-see-all{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                display: flex;
                align-items: center;
                letter-spacing: -0.009em;
                color: #A9A9B7;
                position: relative;
                top: 5px;
            }
        }
        >div.special-offers-card-wrapper{
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    }
    >div.last-transaction-section-wrapper{
        display: flex;
        flex-direction: column;
        margin-left: 18px;
        margin-top: 15px;
        >div.last-transaction-description-wrapper{
            display: flex;
            >p.last-transaction-title{
                margin-top: 5px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                color: #2E2E3A;
            }
        }
        >div.last-transaction-card-wrapper{
            display: flex;
            flex-direction: column;
        }
    }
}