div.primary-button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    > button.primary-button-icon-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        background: #4807EA;
        width: 45px;
        height: 45px;
        border-radius: 100%;
        border: none;
        cursor: pointer;
        > i{
            font-size: 23px;
            color: white;
        }
    }
    >p.primary-button-title{
        margin-top: 6px;
        font-family: 'Roboto','Inter';
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #2E2E3A;
    }
}